<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iLearn Academy</title>
    <script src="https://unpkg.com/vue@2.7.8/dist/vue.js"></script>   

    <style>
        img {
            width: 100px; 
            height: 100px;
        }

    </style>
</head>
<body>
    <div id="app">
        <header>
            <h1 v-text="sitename"></h1>
        </header>
        <main>           
            <button v-if="canAddtoCart" v-on:click="add(lesson[0])"> Add To Cart</button>
            <button disabled v-else> Add To Cart</button>                      
            <div v-for="lesson in lesson">
                <div class="row">
                    <div>
                        <figure>
                            <img v-bind:src="lesson.image">
                        </figure>
                    </div>
                    <div>
                        <p>Subject: {{lesson.subject}}</p>
                        <p>Location: {{lesson.location}}</p>
                        <p>Price: {{lesson.price}}</p>
                        <p>Space: {{lesson.space}}</p>
                        <button v-on:click=""> Add To Cart</button>
                    </div>
                </div><!-- end of row-->
                <hr />
            </div><!-- end of v-for-->
        </main>
</body>
<script type="text/javascript" src="./lessons.js"></script>
<script type="text/javascript" src="./vue.js"></script>
</html>